*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(154, 184, 103);
    font-family:'karla', sans-serif;
}
.Formulário{
    display: flex;
    justify-content:center;
    align-items: center;
}
form{
   background-color: rgb(229, 250, 215);
   width: 55vw;
   height: 30vh;
   border-radius: 1em;
}